python=3.10.20
feedparser==6.0.12
folium==0.20.0
numpy==2.4.4
pandas==3.0.2
pandas_datareader==0.10.0
plotly==6.7.0
plotly_express==0.4.1
Requests==2.33.1
streamlit==1.57.0
streamlit_folium==0.27.2
streamlit_themes==0.1.0

